@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box ;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: var(--matte-white);
}

hr {
    margin: 2rem 0rem;
}

:root {
    --matte-black: #2a2a2a;
    --off-white:#f7f3db;
    --matte-white:#FDFBF9;
}

.nav-pills{
    margin-bottom: 10px;
}

/* Spaces */

.margin-md{
        margin: 2rem;
    }
    
/* Container */
.container {
    text-align: center;
    padding: 0rem 1rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}

.container-fluid {
    max-width: 650px;
    margin: auto;
}

.container-center {
    max-width: 650px;
    margin: auto;
}

/* Links */

.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    color:var(--matte-white);

}


.link-primary {
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    border: 1px solid #000000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background:var(--matte-white);
    /* border-bottom: #000000 solid 5px */
}

.link-secondary {
    text-decoration: none;
    background-color: var(--matte-black);
    border: #000000 solid 1px;
    /* border-bottom: #000000 solid 5px; */
    border-radius: 10px;
    color: var(--matte-white);
    padding: 0.5rem 1rem;
}
.projects-ul .section{
    padding: 50px 0;
}
.projects-ul {
    display: flex;
    flex-wrap: wrap;
}
li.section {
    width: 33.33%;
    padding: 0px 15px !important;
    margin-bottom: 30px;
}
.projects-ul .section .container {
    padding: 50px;
    height: 100%;
    position: relative;
    z-index: 21;
}
.projects-ul .section .container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 10px;
    top: 10px;
    z-index: -1;
    border: #000000 solid 1px;
    visibility: hidden;
}
.projects-ul .section .container:hover::before{
    visibility: visible;
}
.projects-ul h1 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}
/* Lists */

.list-non-bullet {
    list-style: none;
    padding: 0;

}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* Navigation */

.navigation {
    background-color: var(--matte-black);
    color: var(--matte-white);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.navigation .link {
    color: var(--matte-white);
}


.navigation .nav-brand {
    font-weight: bold;

}




/* header */

.hero {
    padding: 2rem;
    padding-top: 5rem;

}
.site-bttn {
    margin: 30px 0 0;
}
.footer {
    margin-top: 50px;
}
.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}
section.section {
    padding: 50px 0;
    border: #ffffff solid 20px;
    position: relative;
    z-index: 21;
}
section.section:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 10px;
    top: 10px;
    z-index: -1;
    border: #000000 solid 1px;
}
.hero .hero-heading {
    text-align: center;
    font-size: 2rem;
    color: #6B7280;
}

.hero .hero-heading .headingg {
    color: var(--matte-black);
}

/* Sections */

.section h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

.ow {
    background-color: var(--off-white);

}

.centers {
    min-width: 600px;
    margin: auto;
}


/* footers */
.footer{
    background-color:var(--matte-black);
    padding: 2rem 1rem;
    text-align: center;
    color: var(--matte-white);
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
} 

.footer {
    color: var(--matte-white);
}

.footer .footer-header{
    margin: 0rem 0rem 1rem 0rem;
    font-weight: bold;
    font-size: large;
}
.footer ul{
    color: var(--matte-white);
    padding-inline-start: 0px;
    margin: 40px 0px 30px 0px;


}

.footer li a.link{
    font-size: 2rem;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--matte-white);
    border-radius: 10px;
}

.size{
    font-size: 2rem;
    margin: 10px 0px;
}
p {
    line-height: 24px;
    letter-spacing: 1px;
    font-size: 14px;
}
.section p{
    margin-top: 10px;
}
@media only screen and (max-width:1170px){
.projects-ul .section .container{
    padding: 30px;
}
.link-secondary, .link-primary{
    font-size: 13px;
}
}
@media only screen and (max-width:950px){
.link-secondary, .link-primary{
    width: 100%;
    display: block;
    margin: 10px 0;
}
}
@media only screen and (max-width:850px){
.projects-ul .section .container {
    padding: 20px;
}
}
@media only screen and (max-width:767px){
li.section {
    width: 100%;
}
}